<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="assets/vendor/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block header %}{% endblock %}
</head>
<body>
<header>
    {% block bodyheader %}{% endblock %}
</header>
{% block body %}{% endblock %}
<footer>
    {% block footer %}{% endblock %}
</footer>

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/what-input/what-input.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/foundation/js/vendor/foundation.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/foundation/js/app.js') }}"></script>
{% endblock %}

</body>
</html>
